In [1]:
import requests

In [13]:
api_key = "CG-M1G9Ec8DhZ3WGoUtY3rKvo1L"
url = f"https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=max&x_cg_demo_api_key={api_key}"
# url = "https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=max"
res = requests.get(url)

In [16]:
data = res.json()

In [22]:
import pandas as pd

# Create empty DataFrame with 'timestamp' as index
df = pd.DataFrame()

# Populate DataFrame
for key in data.keys():
    temp_df = pd.DataFrame(data[key], columns=['timestamp', key])
    if df.empty:
        df = temp_df
    else:
        df = pd.merge(df, temp_df, on='timestamp', how='outer')

# Convert timestamp to datetime if needed
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

# Set timestamp as index
df.set_index('timestamp', inplace=True)

In [23]:
df

                           prices   market_caps  total_volumes
timestamp
2013-04-28 00:00:00    135.300000  1.500518e+09   0.000000e+00
2013-04-29 00:00:00    141.960000  1.575032e+09   0.000000e+00
2013-04-30 00:00:00    135.300000  1.501657e+09   0.000000e+00
2013-05-01 00:00:00    117.000000  1.298952e+09   0.000000e+00
2013-05-02 00:00:00    103.430000  1.148668e+09   0.000000e+00
...                           ...           ...            ...
2023-10-18 00:00:00  28417.721752  5.550031e+11   1.040325e+10
2023-10-19 00:00:00  28328.245198  5.533111e+11   1.346103e+10
2023-10-20 00:00:00  28715.748142  5.593640e+11   1.119392e+10
2023-10-21 00:00:00  29677.392888  5.795368e+11   2.356141e+10
2023-10-21 17:11:21  29900.050788  5.835680e+11   1.121431e+10

[3828 rows x 3 columns]

In [24]:
df.to_csv("bitcoin.csv")